body {
    background-color: #383838;
}

p {
    font-family: proxima-nova;
    font-size: 50px;
    color: #e0e0e0
}

#age {
    color: #e0e0e0;
}

#logoTop {
    height: 120px;
    margin-left: 10%;
    margin-top: 5%;
}

footer {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.icon {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.icon:hover, .icon:focus, .icon:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#tableTop {
    width: 95%;
}

#lang {
    text-align: right;
}

#langText {
    font-family: 'Termina Demi';
    font-size: 2vw;
}

.current_a {
    color: #1fffbf;
}

span {
    color: white;
}

a {
    text-decoration: none;
    color: #e0e0e0;
    transition: 0.3s;
}

a:hover {
    color: #1fffbf;
}

#fvsgroup_link {
    text-decoration: underline;
}

h1 {
    font-family: 'Termina Black', sans-serif;
    font-size: 8vw;    
    line-height: 20px;
    transition: 0.5s;
    margin-bottom:
}

h2 {
    font-family: 'Termina Black', sans-serif;
    font-size: 3vw;
    color: #e0e0e0;
}

h1:hover {
    color: #1fffbf;
}

::-moz-selection {
    color: black;
    background: #1fffbf;
}

::selection {
    color: black;
    background: #1fffbf;
  }
